___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___
# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take my other course: [Complete Python Bootcamp](https://www.udemy.com/complete-python-bootcamp/?couponCode=PY20) instead.

**This notebook is just a code reference for the videos, no written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [3]:
1 + 1

2

In [4]:
1 * 3

3

In [5]:
1 / 2

0.5

In [6]:
2 ** 4

16

In [7]:
4 % 2

0

In [8]:
5 % 2

1

In [9]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [11]:
# Can not start with number or special characters
name_of_var = 2

In [12]:
x = 2
y = 3

In [13]:
z = x + y

In [14]:
z

5

### Strings

In [16]:
'single quotes'

'single quotes'

In [17]:
"double quotes"

'double quotes'

In [18]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

In [152]:
x = 'abc'
y = 5
# x + y -> TypeError: can only concatenate str (not "int") to str

### Printing

In [68]:
x = 'hello'

In [70]:
x

'hello'

In [72]:
print(x)

hello

In [74]:
num = 12
name = 'Sam'

In [81]:
print('My number is: {a}, and my name is: {two}, more {a}'.format(a=num,two=name))

My number is: 12, and my name is: Sam, more 12

In [83]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

In [87]:
s = 'hello'

In [89]:
s[0]

'h'

In [99]:
s="asdfghjkl"

In [101]:
s[1:] #slice

'sdfghjkl'

In [107]:
s[:3] # up until (not including) position 3

'asd'

In [113]:
s[1:4]

'sdf'

In [117]:
print(len(s))

9

### Lists

In [119]:
[1,2,3]

[1, 2, 3]

In [121]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [125]:
my_list = ['a','b','c']

In [127]:
my_list.append('d')

In [129]:
my_list

['a', 'b', 'c', 'd']

In [131]:
my_list[0]

'a'

In [133]:
my_list[1]

'b'

In [135]:
my_list[1:]

['b', 'c', 'd']

In [137]:
my_list[:1]

['a']

In [139]:
my_list[0] = 'NEW'

In [141]:
my_list

['NEW', 'b', 'c', 'd']

In [143]:
nest = [1,2,3,[4,5,['target']]]

In [145]:
nest[3]

[4, 5, ['target']]

In [147]:
nest[3][2]

['target']

In [149]:
nest[3][2][0]

'target'

### Dictionaries

In [172]:
d = {'key1':'item1',456:123, 'k1':[1,2,3]}

In [174]:
d

{'key1': 'item1', 456: 123, 'k1': [1, 2, 3]}

In [176]:
d[456]

123

In [180]:
my_list = d['k1']

In [186]:
print(my_list)

[1, 2, 3]

In [198]:
d = {'k1':{'innerkey':[1,2,3]}}

In [200]:
d['k1']['innerkey'][1]

2

### Booleans

In [203]:
True

True

In [205]:
False

False

### Tuples

In [208]:
t = (1,2,3)

In [210]:
t[0]

1

In [217]:
# t[0] = 'NEW' -> TypeError: 'tuple' object does not support item assignment -> tuples are immutable, unlike list

### Sets(unique elements)

In [232]:
{1,2,3}

{1, 2, 3}

In [222]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [234]:
set([1,1,1,2,3,4,4,4,5,6])

{1, 2, 3, 4, 5, 6}

In [242]:
s = {1,2,3}

s.add(4)

s.add(4)

s

{1, 2, 3, 4}

## Comparison Operators

In [246]:
1 > 2

False

In [248]:
1 < 2

True

In [250]:
1 >= 1

True

In [252]:
1 <= 4

True

In [254]:
1 == 1

True

In [256]:
'hi' == 'bye'

False

In [262]:
1 != 3

True

## Logic Operators

In [271]:
(1 > 2) and (2 < 3)

False

In [273]:
(1 > 2) or (2 < 3)

True

In [275]:
(1 == 2) or (2 == 3) or (4 == 4)

True

In [294]:
True or False

True

## if,elif, else Statements

In [297]:
if 1 < 2:
    print('Yep!')

Yep!

In [307]:
if 1 < 2:
    print('yep!')

yep!

In [309]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [311]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [313]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

In [324]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
elif 4==4:
    print('ayoo')
else:
    print('Last') #execute the first true condition

middle

## for Loops

In [327]:
seq = [1,2,3,4,5]

In [329]:
for item in seq:
    print(item)

1
2
3
4
5

In [342]:
for item in seq[1:]:
    print(item)

2
3
4
5

In [346]:
for item in seq[:len(seq)-1]:
    print(item)

1
2
3
4

In [348]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [350]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [353]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range(): a fuction that generate numeric values

In [379]:
range(5)

range(0, 5)

In [381]:
range(0,5)

range(0, 5)

In [383]:
for i in range(5):
    print(i)

0
1
2
3
4

In [385]:
list(range(5))

[0, 1, 2, 3, 4]

In [387]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## list comprehension

In [398]:
x = [1,2,3,4]

In [400]:
out = []
for item in x:
    out.append(item**3)
print(out)

[1, 8, 27, 64]

In [410]:
out = [item**3 for item in x] #same as the cell above
print(out)

[1, 8, 27, 64]

## functions

In [457]:
def my_func(param1='default'):  #pass in default value, otherwise, use the value passed in 
    """
    Docstring goes here.
    """
    print(param1)

In [459]:
my_func

In [461]:
my_func()

default

In [463]:
my_func('new param')

new param

In [465]:
my_func(param1='new param')

new param

In [467]:
def square(x):
    """
    This is a DOCSTRING
    Can go multiple lines
    This function squares a number
    """
    return x**2

In [469]:
out = square(2)

In [471]:
print(out)

4

## lambda expressions

In [2]:
def times2(var):
    return var*2

In [4]:
times2(2)

4

In [28]:
lambda var: var*2

In [30]:
t = lambda var: var*2

In [32]:
t(6)

12

In [34]:
lambda item: item%2 == 0

## map and filter

In [50]:
seq = [1,2,3,4,5]

In [52]:
map(times2,seq)

In [54]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [56]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [58]:
filter(lambda item: item%2 == 0,seq)

In [60]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [63]:
st = 'hello my name is Sam'

In [65]:
st.lower()

'hello my name is sam'

In [67]:
st.upper()

'HELLO MY NAME IS SAM'

In [69]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [71]:
tweet = 'Go Sports! #Sports'

In [73]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [75]:
tweet.split('#')[1]

'Sports'

In [85]:
d = {'k1': 1, 'k2': 2}

In [87]:
d

{'k1': 1, 'k2': 2}

In [89]:
d.keys()

dict_keys(['k1', 'k2'])

In [91]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [93]:
d.values()

dict_values([1, 2])

In [112]:
lst = [1,2,3]

In [114]:
last = lst.pop()

In [118]:
print(last)

3

In [120]:
lst

[1, 2]

In [122]:
'x' in [1,2,3]

False

In [124]:
'x' in ['x','y','z']

True

In [130]:
#tuple unpacking
x = [(1,2), (3,4), (5,6)]

for (a,b) in x:
    print(a)

for a,b in x:
    print(b)

1
3
5
2
4
6

# Great Job!